<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!--真正可以产生connection的connectionFactory，由jms服务商提供产生-->
    <bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.25.129:61616"></property>
    </bean>
<!--spring用于管理真正的connectionFactory的SingleConnectionFactory-->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="targetConnectionFactory"></property>
    </bean>

    <!--spring提供的工具类，可以发送消息和接收消息-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"></property>
    </bean>

    <!--队列的目的，点对点形式更新solr所用的bean，-->
    <bean id="activeMQQueueUpdate" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="pinyougou_queue_update_solr"></constructor-arg>
    </bean>


    <!--队列的目的，点对点形式删除solr所用的bean，-->
    <bean id="activeMQQueueDelete" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="pinyougou_queue_delete_solr"></constructor-arg>
    </bean>


    <!--队列的目的，订阅消息所用的bean，-->
    <bean id="activeMQTopicProductHtml" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="pinyougou_topic_page"></constructor-arg>
    </bean>
</beans>